# Azure Container Instances Deployment Template
# Use this with: az container create --resource-group <rg> --file aci-deployment.yaml

apiVersion: '2021-09-01'
location: eastus
name: heart-disease-api
properties:
  containers:
  - name: heart-disease-api
    properties:
      image: <YOUR_DOCKERHUB_USERNAME>/heart-disease-api:latest
      resources:
        requests:
          cpu: 1.0
          memoryInGb: 1.5
      ports:
      - port: 8000
        protocol: TCP
      environmentVariables:
      - name: MODEL_PATH
        value: /app/models/rf_heart.joblib
      - name: PYTHONUNBUFFERED
        value: '1'
      - name: LOG_LEVEL
        value: INFO
      # Uncomment for Azure Application Insights
      # - name: APPLICATIONINSIGHTS_CONNECTION_STRING
      #   secureValue: <YOUR_CONNECTION_STRING>
  osType: Linux
  restartPolicy: OnFailure
  ipAddress:
    type: Public
    ports:
    - protocol: TCP
      port: 8000
    dnsNameLabel: heart-disease-api-${RANDOM}
  diagnostics:
    logAnalytics:
      workspaceId: <YOUR_WORKSPACE_ID>
      workspaceKey: <YOUR_WORKSPACE_KEY>
tags:
  Environment: Production
  Application: HeartDiseaseAPI
  ManagedBy: MLOps

