version: '3.8'
services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models
      - ./mlruns:/app/mlruns
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    depends_on:
      - mlflow
  mlflow:
    image: quay.io/mlflow/mlflow:2.7.0
    environment:
      - MLFLOW_SERVER_FILESTORE=/mlruns
      - MLFLOW_SERVER_DEFAULT_ARTIFACT_ROOT=/mlruns
    ports:
      - "5000:5000"
    volumes:
      - ./mlruns:/mlruns
